<form action="/answer" data-turbo="false" method="get" class="form-label">
  <input type="text" value="<% @question %>" class="form-control">
  <input type="submit" value="Ask!" class="btn btn-primary mt-2">
</form>
